{% extends "Layout.html" %}

{% block content %}
<div class="content-container">
    <a href="/drawing/square"><img src="/static/pictures/cuadrado.png" width="200px"></a>
    <a href="/drawing/triangle"><img src="/static/pictures/triangulo.png" width="200px"></a>    
    <!--
    <span>
        Subir imagen asd
        <form id="imageUploadForm" method="POST" action="/" enctype="multipart/form-data">
            <input type="file" id="image" name="imageBinding" accept="image/jpg, image/png, image/jpeg">    
        </form>
    </span>
    -->
</div>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}