{% extends "Layout.html" %}

{% block content %}
<div class="content-container">
    <a href="/drawing/square"><img src="/static/cuadrado.png" width="200px"></a>
    <a href="/drawing/triangle"><img src="/static/triangulo.png" width="200px"></a>    
    <!--
    <span>
        Subir imagen asd
        <form id="imageUploadForm" method="POST" action="/" enctype="multipart/form-data">
            <input type="file" id="image" name="imageBinding" accept="image/jpg, image/png, image/jpeg">    
        </form>
    </span>
    -->
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    const uploadForm = document.getElementById('imageUploadForm');
    const fileInput = document.getElementById('image');

    // Listen for changes in the file input
    fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) {
            const formData = new FormData(uploadForm);
            formData.append('file', fileInput.files[0]);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/', true);
            xhr.onload = function () {
                console.log(xhr.responseText);
            };
            xhr.send(formData);
        }
    });
</script>
{% endblock extra_scripts %}